* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

body, ul, li, p {
    list-style: none;
    font-size: 1.2rem;
    font-family: 'Open Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}

a {
    text-decoration: none;
    color: #fff;
}


.header {
    display: flex;
    flex: 1 1 100wv;
    height: 100px;
    flex-wrap: wrap;
    justify-content: space-between 0.5rem; 
    align-items: center;
}

.header_div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    cursor: pointer;
}

.header_div1 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    cursor: pointer;
}

.img_header{
    padding: 3rem;
}

.nav_bar {
    background-color: #1e1b54;
    color: #fff;
    border-radius: 15px;
    margin: 3px;
    width: 100%;
}

.barra-navegacao {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    min-width: 320px;
}

main{
    width: 1000px;
    margin: auto;
    min-width: 320px;
    max-width: 1000px;
}

.img_slideF img {
    height: 237px;
    width: 100%;
    min-width: 320px;
    max-width: 1000px;
}

.div_servicos {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    background-color: #01a998;
}

.titulo_servicos {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 55px;
}

.flex_Servicos {
    display: flex;
    background-color: rgb(211, 204, 204);
    max-width: 1150px;
    margin: 0 auto;
    flex-wrap: wrap;
}


.flex_Servicos > div {
    flex: 1 1 200px;
    margin: 1rem;
    background-color: #fff;
    object-fit: cover;
    cursor: pointer;
    
   
}

.flex_Servicos > div:hover {
    transform: scale(1.1);
}


.flex_Servicos img {
    width: 60%;
    display: block;
    margin-left: 3rem;
}

.servicosT {
    font-size: 25px;
    color: #1e1b54;
    margin: 0.5rem;
}

.servicios_tex {
    font-size: 18px;
    margin: 0.5rem;
}

.bdiv{
    grid-area: bd;
    background-color: #1e1b54;
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-areas: "bd1 bd2 bd3";
    grid-template-columns: 30% 35% 35%;
    font-size: 14.2px;
    margin-top: 5px;
    
}

.links-uteis{
    grid-area: bd1;
    margin-left: 89px;
    margin-top: 44px;
    line-height: 1.5;
    
}
.contatos{
    grid-area: bd2;
    margin-top: 44px;
    margin-left: 83px;
}
.certificados{
    grid-area: bd3;
    margin-top: 44px;
    margin-left: 12px;
}

.ndiv{
    grid-area: nd;
    background-color: #80b2ad;
    text-align: center;
}

@media only screen and (max-width: 1125px) {

    .header {
        display: flex;
        justify-content: center;
    }
    .header_div1 {
        display: none;
    }

    .nav_bar {
        width: auto;
    }

    .barra-navegacao {
        display: flex;
        flex-direction: column;
    }

    .img_slideF {
        display: none;
    }

    .flex_Servicos {
        flex-direction: column;
        max-width: 300px;
        margin: auto;
    }

    .div_servicos {
        max-width: 600px;
        margin: auto;
    }

    .flex_Servicos > div {
        max-width: 300px;
        margin: auto;
    }

    footer {
        display: flex;
        flex-direction: column;
    }

}

@media only screen and (max-width: 805px) {

    .header {
        display: flex;
        justify-content: center;
        min-width: 800px;
    }
    .header_div1 {
        display: none;
    }

    .nav_bar {
        width: auto;
        min-width: 800px;
    }

    .barra-navegacao {
        display: flex;
        flex-direction: column;
        min-width: 800px;
    }

    .img_slideF {
        display: none;
    }

    .flex_Servicos {
        flex-direction: column;
        max-width: 300px;
        margin: auto;
    }

    .div_servicos {
        max-width: 600px;
        margin-left: 127px;
        
        
    }


    footer {
        display: flex;
        flex-direction: column;
        min-width: 800px;
    }

}
